# main folder - noise
.Rhistory
.DS_Store

# checkpoints 
*/.ipynb_checkpoints

# logs
*/*.log
*mylog*

# all folders files
*/all_folders*

# libreface: ignore working and log files
run_libreface/.DS_Store
run_libreface/all_folders.txt
run_libreface/frames_libreface.csv
run_libreface/mylog_libreface*.txt
run_libreface/tmp
run_libreface/weights_libreface

# pyfeat: ignore code from workshop (Code Marie downloaded from somewhere to play with)
run_pyfeat/Pyfeat_workshop
